{% extends 'index2.html' %}

{% block links %}
{% load static %}
        <!-- Title  -->
    <title>The Book Garden | Edit Password </title>


    <link rel="stylesheet" type="text/css" href="{% static 'fontslogin/iconic/css/material-design-iconic-font.min.css' %}">
    <!--===============================================================================================-->
       
    <!--===============================================================================================-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!--===============================================================================================-->
  {% endblock %} 


{% block body_block %}
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix" >
            <div class="amado-pro-catagory clearfix" >
                {% for field in form %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ error }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
                {% endfor %}
                {% endfor %}

                {% for message in messages %}
                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>  
                {% endfor %}

                <div >
                    <div class="limiter">
                        <div class="container-login100 style=">
                            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                                <form class="login100-form validate-form" onsubmit=DisableBtn() method='POST'>
                                    {% csrf_token %}
                                    <span class="login100-form-title p-b-49">
                                        Change Your Password 
                                    </span>
                                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                                        <span class="label-input100">{{ form.old_password.label }}</span>
                                        {{ form.old_password }}
                                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                                    </div>
                                    <br>
                                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                                        <span class="label-input100">{{ form.new_password1.label }}</span>
                                        {{ form.new_password1 }}
                                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                                        <div id="popover-content" style="display: none">
                                        {{ form.new_password1.help_text }}
                                        </div>
                                    </div>
                                    <br>
                                    <div class="wrap-input100 validate-input" data-validate="Password is required">
                                        <span class="label-input100">{{ form.new_password2.label }}</span>
                                        {{ form.new_password2 }}
                                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                                    </div>
                                    <br><br><br>
                                   
                                    
                                    <div class="container-login100-form-btn">
                                        <div class="wrap-login100-form-btn">
                                            <div class="login100-form-bgbtn"></div>
                                            <button type="submit" id="submit-btn" class="btn amado-btn login100-form-btn">
                                                Update
                                            </button>
                                        </div>
                                    </div>
                
                                   
                
                                    
                                </form>
                            </div>
                        </div>
                    </div>
                    
                
                    <div id="dropDownSelect1"></div>
                </div>

                
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>

{% endblock %}

{% block footer %}
{% endblock %}


    
{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    $('#id_new_password1').popover({  
        html: true,
        content: function() {
        return $('#popover-content').html();
        }
    });
    
});

function DisableBtn()
{
    document.getElementById('submit-btn').disabled=true;
}

</script>
{% endblock %}