{% extends 'index2.html' %}
{% load static %}

{% block links %}
    <!-- Title  -->
    <title>The Book Garden | Order List</title>
{% endblock %}

{% block css %}



        table{
            margin-top: 50px;
      border: 0.1px solid black !important;
      font-family: 'Courier New', Courier, monospace;
      text-align: centre;
    
    }
    td,th{
        padding: 20px;
        border: 0.1px solid black !important;
        font-family: 'Courier New', Courier, monospace;
        text-align: center !important; 
        padding: 5px !important;
        
    }
    th{
       color: blueviolet;
       border: 0.1px solid black !important;
       font-weight: bolder !important;
       padding: 5px !important;
       text-align: center !important;
    }






{% endblock %}


{% block body_block %}

    {% if not is_empty %}
         <div id="no-content" class="col-lg-8 col-md-6 col-sm-8 col-xs-10 col-xs-offset-1 orders-content">
            <p style="font-family: 'Courier New', Courier, monospace; font-size:x-large; font-weight: bold !important;margin-top:200px ;">ADDRESS BOOK ENTRIES</p>
          <hr style="width: 80%; margin-left: 0; ">

      <table style="width:80%">
         <tr>
            <th>ORDER</th>
            <th>DATE</th> 
            <th>ORDER STATUS</th>
            <th>PAYMENT STATUS</th>
            <th>TOTAL</th>
        </tr>
        {% for order,total in all_orders %}
        <tr>
            <td><a href="{%  url 'order_app:order_detail' pk=order.pk %}" style="color: blue; text-decoration: underline;" >{{ order.pk }}</td>
            <td>{{ order.order_created_date|date:"SHORT_DATE_FORMAT" }}</td>
            {% if order.order_status == 1 %}
            <td>Not Confirmed</td>
            {% elif order.order_status == 2 %}
            <td>Confirmed</td>
            {% else %}
            <td>Delivered</td>
            {% endif %}
            {% if order.payment_status == 0 %}
            <td>Not Paid</td>
            {% elif order.payment_status == 1 %}
            <td>Paid</td>
            {% endif %}
            <td>{{ total }}</td>
        </tr>
        {% endfor %}
    {% else %}
    <div id="no-content" class="col-lg-8 col-md-6 col-sm-8 col-xs-10 col-xs-offset-1 orders-content">
            <p style="font-family: 'Courier New', Courier, monospace; font-size:x-large; font-weight: bold !important;margin-top:200px ;">ADDRESS BOOK ENTRIES</p>
          <hr style="width: 80%; margin-left: 0; ">
    <p><b><i> Order List is empty go on order up.. </i></b></p>    
    {% endif %}
</table>
       </div>
    </div>
<br>


    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}
{% block js %}

{% endblock %}