{% extends 'index.html' %}
{% load static %}

{% block links %}
    <!-- Title  -->
    <title>The Book Garden | About Us</title>
    <link rel="stylesheet" type="text/css" href="{% static 'fontslogin/iconic/css/material-design-iconic-font.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/util.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
{% endblock %}
{% block style %}
{% endblock %}

{% block body_block %}  
        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix" >
            <div class="amado-pro-catagory clearfix" >

                <div >
                    <div class="limiter">
                        <div class="container-login100 style=">
                            <div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
                                <form class="login100-form validate-form">
                                    <span class="login100-form-title p-b-49" >
                                        About Us 
                                        <hr>
                                    </span>
                                   <p style="font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size:18px;">Proin eu odio in orci ultrices lacinia. Morbi eu dignissim eros, sed porttitor felis. 
                                       Cras ultrices orci in ornare lacinia. Interdum et malesuada fames ac ante ipsum primis in faucibus. 
                                       Donec ornare finibus lorem tincidunt vulputate. Fusce convallis tempus eleifend. Aliquam hendrerit metus ligula.
                                        Quisque volutpat finibus augue, quis aliquam nunc hendrerit vel.</p>
                                  <br>

                                  <p style="font-family: 'Courier New', Courier, monospace; font-weight: bold; font-size:18px;">  Nulla eu ex maximus, blandit quam id, tristique justo. Donec pharetra ipsum at sem blandit,
                                    eget fringilla nulla ornare. Cras in ipsum interdum, efficitur leo id, blandit erat. Ut elit lorem,
                                    pellentesque in sodales sit amet, faucibus molestie felis. Quisque vulputate nunc sit amet velit sodales porta.
                                    In quis interdum risus. Cras non felis vitae velit volutpat cursus ut non eros. Donec erat lacus, rutrum accumsan porta ut,
                                    sodales nec arcu. Praesent porta nibh in mollis pellentesque. 
                                    Pellentesque elementum egestas eleifend. Cras aliquam ut lorem non gravida.
                                    Donec viverra neque a diam hendrerit, at ultricies neque eleifend. Sed feugiat consectetur lorem, eget tempor orci bibendum non.
                                  </p>
                                  <br>
                               
                            </div>
                        </div>
                    </div>
                    
                
                    <div id="dropDownSelect1"></div>
                </div>

                
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    {% endblock %}
    <!-- ##### Main Content Wrapper End ##### -->

{% block footer %}
{% endblock %}